APP_NAME="[[ .ProjectName ]]"
APP_ENV=testing
APP_KEY=base64:EBGFxtH2S/q+q2PzZBu3FMHOk+q1UDIhUECfvdnp7XE=
APP_DEBUG=true
APP_URL=http://localhost

DB_CONNECTION="[[ .DbConnection ]]"
DB_HOST="[[ .DbHost ]]"
DB_PORT="[[ .DbPort ]]"
DB_DATABASE="[[ .DbDatabase ]]_test"
DB_USERNAME="[[ .DbUsername ]]_test"
DB_PASSWORD="[[ .DbPassword ]]"
