{{ $env := dict }}
{{- if datasourceReachable "dotenv" }}
    {{- $env = ds "dotenv" }}
{{- else if file.Exists ".env" }}
    {{- defineDatasource "dotenv" ".env" }}
    {{- $env = ds "dotenv" }}
{{- end }}

{{- $orbstack_enabled := env.Getenv "ORBSTACK_ENABLED" | conv.ToBool -}}

# Dev environment
COMPOSE_PROJECT_NAME={{ "COMPOSE_PROJECT_NAME" | index $env | default "[[ .ProjectShortName | toKebabCase ]]" }}

DOCKER_NGINX_PORT={{ "DOCKER_NGINX_PORT" | index $env | default "8080" }}
DOCKER_DB_PORT={{ "DOCKER_DB_PORT" | index $env | default "[[ .DockerDbPort ]]" }}
DOCKER_MAILPIT_PORT={{ "DOCKER_MAILPIT_PORT" | index $env | default "8025" }}

# db_app container
DB_APP_DATABASE={{ "DB_APP_DATABASE" | index $env | default "[[ .DbDatabase ]]" }}
DB_APP_USER={{ "DB_APP_USER" | index $env | default "[[ .DbUsername ]]" }}
DB_APP_PASSWORD={{ "DB_APP_PASSWORD" | index $env | default "[[ .DbPassword ]]" }}
[[- if ne .Database "postgres" ]]
DB_APP_ROOT_PASSWORD={{ "DB_APP_ROOT_PASSWORD" | index $env | default "[[ .DbPassword ]]" }}
[[- end]]

# Laravel
APP_NAME="{{ "APP_NAME" | index $env | default "[[ .ProjectName ]]" }}"
APP_ENV={{ "APP_ENV" | index $env | default "local" }}
APP_KEY={{ "APP_KEY" | index $env | default "" }}
APP_DEBUG={{ "APP_DEBUG" | index $env | default "true" }}
APP_URL={{ "APP_URL" | index $env | default (test.Ternary $orbstack_enabled (env.Getenv "ORB_APP_HOST") "http://localhost") }}

LOG_STACK={{ "LOG_STACK" | index $env | default "single,stderr" }}
LOG_LEVEL={{ "LOG_LEVEL" | index $env | default "debug" }}

DB_CONNECTION={{ "DB_CONNECTION" | index $env | default "[[ .DbConnection ]]" }}
DB_HOST={{ "DB_HOST" | index $env | default "[[ .DbHost ]]" }}
DB_PORT={{ "DB_PORT" | index $env | default "[[ .DbPort ]]" }}
DB_DATABASE={{ "DB_DATABASE" | index $env | default "${DB_APP_DATABASE}" }}
DB_USERNAME={{ "DB_USERNAME" | index $env | default "${DB_APP_USER}" }}
DB_PASSWORD={{ "DB_PASSWORD" | index $env | default "${DB_APP_PASSWORD}" }}

MAIL_MAILER={{ "MAIL_MAILER" | index $env | default "smtp" }}
MAIL_SCHEME={{ "MAIL_SCHEME" | index $env | default "null" }}
MAIL_HOST={{ "MAIL_HOST" | index $env | default "mailpit" }}
MAIL_PORT={{ "MAIL_PORT" | index $env | default "1025" }}
MAIL_USERNAME={{ "MAIL_USERNAME" | index $env | default "" }}
MAIL_PASSWORD={{ "MAIL_PASSWORD" | index $env | default "" }}
MAIL_FROM_ADDRESS={{ "MAIL_FROM_ADDRESS" | index $env | default "info@[[ .ProjectShortName | toKebabCase ]].local" }}
MAIL_FROM_NAME="{{ "MAIL_FROM_NAME" | index $env | default "${APP_NAME}" }}"

VITE_APP_NAME="{{ "VITE_APP_NAME" | index $env | default "${APP_NAME}" }}"

[[- if .AddBugSnag ]]

# Bugsnag
BUGSNAG_API_KEY={{ "BUGSNAG_API_KEY" | index $env | default "" }}
BUGSNAG_NOTIFY_RELEASE_STAGES={{ "MAIL_USERNAME" | index $env | default "disabled" }}
# BUGSNAG_APP_VERSION={{ "BUGSNAG_APP_VERSION" | index $env | default "" }}
[[- end ]]
